:root{
  --color-primary: #dac9df;
  --color-secondary: #40c0cb;
  --color-shadow: #545454; 
  --color-text: #323232;
  --color-contrast: #9ce0db;
  --color-bg: #81638b; 
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', sans-serif;
  
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background: url(https://dthezntil550i.cloudfront.net/13/latest/131611011945454810000512756/1280_960/430feddc-dcca-4811-91b8-2f544d338569.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}